<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span
    style="color: #1976d2; font-size: 18px;font-weight: bold;font-family: Roboto;">Settings</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="rounded-pill"
    style="background-color: rgba(0, 75, 161);color: white;font-weight: 700;font-family: Roboto;font-size: 12px;">Company
    Profile</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <a>
    <span style="color: grey; font-size: 14px;font-weight: bold;font-family: Roboto;">
      user management
    </span>
  </a>
  <div class="spacer"></div>

</div>

<div class="sidenav">
  <a href="">
    <span>
      <img src="assets/logo-white.png" width="20" height="25">
    </span>
  </a><br><br>
  <a href="">
    <span>
      <img src="assets/Deal.png" width="20" height="25">
    </span>
  </a>
  <a href="">
    <span>
      <img src="assets/edit-org.png" width="20" height="25">
    </span>
  </a>
  <a href="">
    <span>
      <img src="assets/Dashboard.png" width="20" height="20">
    </span>
  </a>
  <a href="">
    <span>
      <img src="assets/Connection.png" width="20" height="20">
    </span>
  </a><br><br><br><br><br>
  <a href="">
    <span>
      <img src="assets/Profile.png" width="20" height="20">
    </span>
  </a>
  <a href="">
    <span>
      <img src="assets/notification.png" width="20" height="20">
    </span>
  </a>
  <a href="">
    <span>
      <img src="assets/download.png" width="20" height="20" class="rounded-circle">
    </span>
  </a>
  
</div>

<div class="container">
  <!-- <div class="Col-md-12"> -->
  <mat-tab-group>
    <mat-tab label="Company details">
      <form style="margin-left: 100px;">
        <div class="hidden">
          <h6>text</h6>
        </div>
        <div class="form-group-row">
            <div class="dropdown">
            <img src="assets/bg.png" class="rounded-circle" width="50"height="50" alt="Cinque Terre">
            <div class="dropdown-content">
                <a href="#" style="font-family:Roboto;font-size: 12px;">Change Profile Photo</a>
                <a href="#" style="font-family:Roboto;font-size: 12px;">Remove</a>
              </div>
              </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">
            Company Name:<span class="required-field"></span>

          </label>
          <div class="col-sm-4">
            <input type="password" class="form-control form-rounded" id="inputPassword">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">
            Register Number:<span class="required-field"></span>

          </label>
          <div class="col-sm-4">
            <input type="password" class="form-control form-rounded" id="inputPassword">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">
            Company Website:<span class="required-field"></span>

          </label>
          <div class="col-sm-4">
            <input type="password" class="form-control form-rounded" id="inputPassword">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">
            About the Company:<span class="required-field"></span>

          </label>
          <div class="col-sm-4">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">
            Category:<span class="required-field"></span>

          </label>
          <!-- <div class="col-sm-4"> -->
          <div class="col-sm-4">
            <div class="row">
              <div class="radio">
                <label class="categoryList"><input type="radio"  name="optradio" checked>Coffee Board</label>
              </div>&nbsp;&nbsp;
              <div class="radio">
                <label class="categoryList" ><input type="radio"  name="optradio">Grain Board</label>
              </div>&nbsp;&nbsp;
              <div class="radio">
                <label class="categoryList"><input type="radio"  name="optradio" checked>Certification Agency</label>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="radio">
                <label class="categoryList"><input type="radio"  name="optradio">Traders</label>
              </div>&nbsp;&nbsp;
              <div class="radio">
                <label class="categoryList"><input type="radio"  name="optradio">Equipment manufacturers</label>
              </div>&nbsp;&nbsp;
              <div class="radio">
                <label class="categoryList"><input type="radio"  name="optradio" checked>Consultants</label>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="radio">
                <label class="categoryList"><input type="radio"  name="optradio">Others</label>
              </div>&nbsp;

            </div>
          </div>

          <!-- </div> -->
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">
            Crops:<span class="required-field"></span>

          </label>
          <div class="col-md-4">
            <div class="row">
              <figure>
                <img src="assets/Cinnamon.jpg" alt="Your text" alt="crops" width="50" height="50"
                  class="rounded-circle" />
                <figcaption style="font-size: 12px;text-align:center">Cinnamon</figcaption>
              </figure> &nbsp;&nbsp;
              <figure>
                <img src="assets/Pepper.jpg" alt="Your text" alt="crops" width="50" height="50"
                  class="rounded-circle" />
                <figcaption style="font-size: 12px;text-align:center">Pepper</figcaption>
              </figure> &nbsp;&nbsp;
              <figure>
                <img src="assets/Tea.jpg" alt="Your text" alt="crops" width="50" height="50"
                  class="rounded-circle" />
                <figcaption style="font-size: 12px;text-align:center">Tea</figcaption>
              </figure>&nbsp;&nbsp;
              <figure>
                <img src="assets/Grains.jpg" alt="Your text" alt="crops" width="50" height="50"
                  class="rounded-circle" />
                <figcaption style="font-size: 12px;text-align:center">Grains</figcaption>
              </figure>&nbsp;&nbsp;
              <figure>
                <img src="assets/Coffee.jpg" alt="Your text" alt="crops" width="50" height="50"
                  class="rounded-circle" />
                <figcaption style="font-size: 12px;text-align:center">Coffee</figcaption>
              </figure>
            
            </div>

          </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">
              About the Company:<span class="required-field"></span>
  
            </label>
            <div class="col-sm-4">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">
                Product Image:<span class="required-field"></span>
    
              </label>
              <div class="col-sm-4">
               <button class="btn btn-secondary">
                 Upload
               </button>
               <p>
                  Less than 5 MB
               </p>
              </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">
                  
      
                </label>
                <div class="col-sm-4">
                    <span class="dot"></span>&nbsp;&nbsp;
                    <span class="dot"></span>&nbsp;&nbsp;
                    <span class="dot"></span>&nbsp;&nbsp;
                    <span class="dot"></span>&nbsp;&nbsp;
                    <span class="dot"></span>&nbsp;&nbsp;
                    <span class="dot"></span>&nbsp;&nbsp;
                    <span class="dot"></span>&nbsp;&nbsp;
                    <span class="dot"></span>&nbsp;&nbsp;
                </div>
              </div>
            <div class="form-group row">
              <button type="button" class="rounded-pill" style="background-color: rgb(77, 175, 124); margin-left: 30px;color: white;font-size: 12px;font-family: Roboto;">Save changes</button>
            </div>
      </form>
    </mat-tab>
    <mat-tab label="Contact details">
      Contact details </mat-tab>

  </mat-tab-group>
  <!-- </div> -->
</div>

<div class="content" role="main">

<router-outlet></router-outlet>